<div
  style=" height: 100%; width: 100%;
  background-image: url(http://www.solofondosdepantalla.net/fondos-de-pantalla/Abstractos/Fondo-de-pantalla-Abstracto-210.jpg)"
  align="center"
  class="container">
  <br><br>
  <div style="background-color: darkslategrey; color: white; text-decoration-line: underline" align="left"
       class="row-col-md-12">
    <br>
    <h1 align="center">Bienvenidos</h1>
    <h2>Menu de bebidas</h2>
    <br>
  </div>

  <br><br><br>

  <div class="row">
    <div class="col-sm-4">
      <img style="height: 220px; width: 300px" src="https://media.giphy.com/media/Dzh4BDQg2MarK/giphy.gif" alt="">
    </div>

    <div class="col-sm-4">
      <img style="height: 220px; width: 300px"
           src="http://37.media.tumblr.com/095d69019eb9defa2489d0a899a1d9d2/tumblr_mn06wqQZNe1sr90fco1_500.gif" alt="">
    </div>

    <div class="col-sm-4">
      <img style="height: 220px; width: 300px" src="https://googifs.es/gif/2016/12/celebrando-el-ano-nuevo.gif" alt="">
    </div>
  </div>
  <br><br><br>

  <div align="center" class="row-col-md-12">
    <button style="width: 200px; height: 60px; font-size: 24px" class="btn btn-primary" (click)="cargarBebidas()">Ver
      menu
    </button>
    <br><br><br>
  </div>



  <div class="row-col-sm-12">
    <div style="width: auto; margin-left: 200px; margin-right: 200px;
          margin-bottom: 50px; margin-top: 50px; border-style: solid ; background-color: #f3f5f7"
         class="col-sm-12" *ngFor="let bebida of drink; let indice=index">
      <img src="http://www.gifmania.com/Gif-Animados-Alimentos/Imagenes-Bebidas/Cerveza/Vasos-De-Cerveza/Vaso-De-Cerveza-62700.gif" alt="">
      <br><br>
        <h3>{{bebida.id}}- {{bebida.name}}

        </h3>
        <p align="left">
          <h4>Lema:&nbsp;&nbsp;</h4> {{bebida.tagline}}<br>
          <b>Fecha de elaboracion:&nbsp;&nbsp;</b> {{bebida.first_brewed}}<br>
          <b>Descripcion:&nbsp;&nbsp;</b> {{bebida.description}}<br>
          <br><br>
        </p>

    </div>


  </div>
  <br><br><br><br>


</div>
